
mainmenu "PetaLinux System Configuration"
config SUBSYSTEM_TYPE_LINUX
        bool
        default y
        select SYSTEM_ZYNQ

config SYSTEM_ZYNQ
        bool "ZYNQ Configuration"
        help
          ZYNQ Configuration for petalinux project.
          All these config options will be in /home/laptop_oli/Github/petalinux-rtos-yocto/petalinux-sdl2-pynqZ2/PYNQ_SDL/project-spec/configs/config

config SUBSYSTEM_DISTRO_PETALINUX
        bool
        default y
        help

source /home/laptop_oli/Github/petalinux-rtos-yocto/petalinux-sdl2-pynqZ2/PYNQ_SDL/project-spec/configs/configs/Kconfig.main
