platforms/pynq_vdma_game/project-spec/configs/.Xil/


apps/user_vdma_app/.cache/clangd/index/

apps/user_vdma_app/obj/

apps/user_vdma_app/compile_commands.json

apps/user_vdma_app/main.o

apps/user_vdma_app/vdma_control

platforms/device_tree_tinkering/

platforms/pynq_vdma_game/.petalinux/metadata

platforms/pynq_vdma_game/project-spec/configs/.statistics
rtos/apps/EOS/workspace/.metadata
rtos/apps/EOS/.Xil
platform-build-files/HDMI-VDMA
rtos/apps/EOS/workspace/.analytics
rtos/apps/EOS/workspace/IDE.log
rtos/apps/EOS/workspace/IDE.log
rtos/apps/EOS/workspace/RemoteSystemsTempFiles
rtos/apps/EOS/dbg_init_A9_0.tcl
rtos/apps/EOS/workspace/FlappyBird_InC/Debug
