menu "user packages " 
config libsdl2  
	 bool "libsdl2"
	 help
	
config gpio-demo  
	 bool "gpio-demo"
	 help
	
config peekpoke  
	 bool "peekpoke"
	 help
	
config xf86-video-fbdev  
	 bool "xf86-video-fbdev"
	 help
	
endmenu
